html,body{
    background-color: #21232A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 60px;
}

figure{
    text-align: center;
}
button{
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 30px;
}
button:hover{
    background-color: azure;
}
form{
    text-align: center;
    padding: 30px;
}
input{
    margin: 20px;
}